@font-face {
    font-family: "heebo-regular";
    src: url(Heebo-Regular.ttf);
}

@font-face {
    font-family: "heebo-medium";
    src: url(Heebo-Medium.ttf);
}

@font-face {
    font-family: "heebo-bold";
    src: url(Heebo-Bold.ttf);
}

@font-face {
    font-family: "heebo-light";
    src: url(Heebo-Light.ttf);
}

@font-face {
    font-family: "heebo-black";
    src: url(Heebo-Black.ttf);
}

@font-face {
    font-family: "heebo-thin";
    src: url(Heebo-Thin.ttf);
}

@font-face {
    font-family: "heebo-extrabold";
    src: url(Heebo-ExtraBold.ttf);
}





