$font-regular: 'heebo-regular';
$font-medium: 'heebo-medium';
$font-black: 'heebo-black';
$font-bold: 'heebo-bold';
$font-extrabold: 'heebo-extrabold';
$font-light: 'heebo-light';
$font-thin: 'heebo-thin';


$font-size-h1: 10rem;
$font-size-h2: 9.6rem;
$font-size-h3: 4.8rem;
$font-size-h4: 3rem;
$font-size-base: 2rem;
$font-size-mid: 1.7rem;
$font-size-low: 1.2rem;






