

$spacing-xs: 0.5rem;
$spacing-low: 1rem;
$spacing-mid: 1.5rem; 
$spacing-high: 2rem;
$spacing-xl: 3rem;
$gap: 5rem;

$border-width: 0.2rem; 
$box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);

// z-index
$z-index-modal: 1000;

// image sizes
$icon-size: 3rem;

